/* div order call ----------------------------------------------------------------------------------------------- */
.bg-for-order-call {
    background-image: url(../images/backgrounds/first-index-background.jpeg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}

.div-with-forms {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 40px;
    min-width: 280px;
}

.wrap-for-div-with-forms {
    box-sizing: border-box;
}

.h-form-call {
    font-size: 1.4375rem;
    text-align: center;
    font-weight: 500;
}

.p-form-call {
    text-align: center;
}

.bg-for-order-call form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.div-with-forms>form>input {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    padding-left: 30px;
    border: none;
    background-color: rgba(40, 37, 32, 0.12);
    box-sizing: border-box;
    margin-top: 20px;
}

.order-a-call {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #f98250;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #fff;
    font-weight: bold;
    margin-top: 30px;
    transition-duration: 1s;
}

@media(min-width:991px) {
    .h-form-call {
        font-size: 1.5625rem;
    }
}

@media (max-width: 766px) {
    .bg-for-order-call {
        height: 642px;
    }

    .wrap-for-div-with-forms {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 20px;
    }

    .div-with-forms {
        height: 412px;
        width: 100%;
    }

    .p-form-call {
        margin-top: 10px;
    }
}

@media (min-width: 767px) {
    .bg-for-order-call {
        height: 726px;
    }

    .div-with-forms {
        height: 480px;
        width: 38%;
    }

    .wrap-for-div-with-forms {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        padding-right: 30px;
    }

    .div-with-forms {
        padding-top: 60px;
    }

    .order-a-call:hover {
        background-color: #599673;
        transition-duration: 1s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }
}

/* Your Adventure Starts Here ----------------------------------------------------------------------------------------------- */

@media (max-width:766px) {
    .your-adventure-starts-here--content {
        padding: 0 24px;
    }

    .cards-your-adventury {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 6;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 767px) and (max-width:991px) {
    .cards-your-adventury {
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 3;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    #houses-on-hill {
        grid-area: 1 / 1 / 2 / 2;
    }

    #street-in-village {
        grid-area: 1 / 2 / 2 / 3;
    }

    #big-house {
        grid-area: 2 / 1 / 3 / 2;
    }

    #lake {
        grid-area: 2 / 2 / 3 / 3;
    }

    #mountains {
        grid-area: 3 / 1 / 4 / 2;
    }

    #house-by-the-river {
        grid-area: 3 / 2 / 4 / 3;
    }

    .your-adventure-starts-here--content {
        padding: 0 40px;
    }
}

@media (min-width: 991px) {
    .cards-your-adventury {
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 2;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100%;
    }

    #houses-on-hill {
        grid-area: 1 / 1 / 2 / 2;
    }

    #street-in-village {
        grid-area: 1 / 2 / 2 / 3;
    }

    #big-house {
        grid-area: 1 / 3 / 2 / 4;
    }

    #lake {
        grid-area: 2 / 1 / 3 / 2;
    }

    #mountains {
        grid-area: 2 / 2 / 3 / 3;
    }

    #house-by-the-river {
        grid-area: 2 / 3 / 3 / 4;
    }

    .card-item>h3 {
        font-size: 1.5625rem;
    }

    .your-adventure-starts-here--text>h2 {
        font-size: 2.75rem;
    }

    .your-adventure-starts-here--content {
        padding: 0 40px;
    }
}

.your-adventure-starts-here-background {
    background-image: url(../images/backgrounds/Your-Adventure-Starts-Here.jpeg);
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.your-adventure-starts-here--content {
    box-sizing: border-box;
}

.card-item>img {
    border-radius: 10px;
    overflow-y: hidden;
    width: 100%;
    height: 70%;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-item>h3 {
    margin-top: 10px;
    text-shadow: 0px 0px 15px white;
    font-size: 1.4375rem;
}

.cards-your-adventury h3 {
    text-align: center;
}

.your-adventure-starts-here--text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.your-adventure-starts-here--text>h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.4375rem;
}

.your-adventure-starts-here--text>span {
    text-align: center;
    margin-bottom: 40px;
}

.cards-your-adventury {
    display: grid;
    grid-template-columns: 6;
    grid-template-rows: 6;
    grid-gap: 20px;
}

.top-panel {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 20px;
    background-color: #fff;
}

.display-view {
    background: rgb(173, 173, 173);
    opacity: 0;
    border: red 2px solid;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.dark-background {
    position: fixed;
    height: 100vh;
    width: 102vw;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 199;
    top: 0;
    left: 0;
}

.modal-photo-window {
    height: 90vh;
    width: 93vw;
    max-width: 1500px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 200;
    overflow: hidden;
}

.modal-top-panel {
    position: fixed;
    top: 0;
    z-index: 201;
    width: 100%;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 5px;
    padding-right: 6%;
    box-sizing: border-box;
}

.modal-top-panel-content {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}

.modal-button {
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    cursor: pointer;
}

.zoom-0-modal-button {
    height: 20px;
    width: 40px;
    border-radius: 20px;
    border: 2px solid #fff;
    box-sizing: border-box;
}

.procent {
    margin-left: 1px;
}

.zoom-0-modal-button>span {
    font-size: 0.7rem;
}

.big-modal-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: 1px solid grey;
}

/* cabin-rentals -----------------------------------------------------------------------------------------------*/
.cabin-rentals-background {
    background-image: url(../images/backgrounds/green-background.jpeg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;
}

.cabin-rentals--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.cabin-rentals-title {
    color: #ffffff;
    margin-bottom: 15px;
    font-weight: bold;
}

.cabin-rentals-cards {
    width: 100%;
}

.item-rentals-card {
    position: relative;
}

.item-rentals-card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 40px;
    position: relative;
    z-index: 3;
    border-radius: 15px;
}

.item-rentals-card-background-dark-image {
    position: absolute;
    z-index: 2;
    background-color: rgba(40, 37, 32, 0.8);
    border-radius: 15px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.river-chalet-background {
    background-image: url(../images/cards-cabin-rentals/river-chalet.jpeg);
}

.lookout-lodge-background {
    background-image: url(../images/cards-cabin-rentals/lookout-lodge.jpeg);
}

.smoky-view-chalet-background {
    background-image: url(../images/cards-cabin-rentals/smoky-view-chalet.jpeg);
}

.mountain-haven-background {
    background-image: url(../images/cards-cabin-rentals/mountain-haven.jpeg);
}

.item-rentals-card-background-image {
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    border-radius: 15px;
}

.the-price-of-the-apartament {
    color: #ffffff;
    font-size: 2.4375rem;
    margin-bottom: 40px;
    text-align: center;
}

.the-name-of-the-apartment {
    color: #ffffff;
    font-size: 1.4375rem;
    margin-bottom: 20px;
    text-align: center;
}

.description-of-the-apartment {
    color: rgb(189, 189, 189);
    font-size: 1rem;
    margin-bottom: 35px;
    text-align: center;
    word-wrap: break-word;
}

.button-learn-more {
    height: 46px;
    width: 134px;
    background-color: #f98250;
    color: #ffffff;
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
    transition-duration: 1s;
    text-transform: uppercase;
    text-decoration: none;
}

.button-learn-more:hover {
    height: 46px;
    width: 134px;
    background-color: #ffffff;
    color: #f98250;
    transition-duration: 1s;
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
    transition-duration: 1s;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.button-see-all-cabins {
    height: 46px;
    width: 134px;
    color: #ffffff;
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
    transition-duration: 1s;
    border: #ffffff 1px solid;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 40px;
}

.button-see-all-cabins:hover {
    height: 46px;
    width: 134px;
    background-color: #ffffff;
    color: #282520;
    transition-duration: 1s;
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 600;
    transition-duration: 1s;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

@media (max-width: 766px) {
    .cabin-rentals--content {
        padding-left: 24px;
        padding-right: 24px;
    }

    .item-rentals-card {
        margin-top: 45px;
        margin-bottom: 45px;
    }
}

@media (min-width: 767px) {
    .cabin-rentals--content {
        padding-left: 40px;
        padding-right: 40px;
    }

    .cabin-rentals-cards {
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 2;

        grid-gap: 30px 30px;
    }

    .river-chalet {
        grid-area: 1 / 1 / 2 / 2;
    }

    .lookout-lodge {
        grid-area: 1 / 2 / 2 / 3;
    }

    .smoky-view-chalet {
        grid-area: 2 / 1 / 3 / 2;
    }

    .mountain-haven {
        grid-area: 2 / 2 / 3 / 3;
    }
}

@media (min-width: 991px) {

    .cabin-rentals-title,
    .the-price-of-the-apartament {
        font-size: 2.75rem;
    }

    .the-name-of-the-apartment {
        font-size: 1.5625rem;
    }
}

/* things-to-Do -----------------------------------------------------------------------------------------------*/
.things-to-Do-background {
    background-image: url(../images/backgrounds/things-to-Do.jpeg);
    background-position: center;
    background-size: cover;
    padding: 80px 0;
}

.things-to-Do-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
}

.things-to-Do-title {
    margin-bottom: 50px;
    color: #282520;
    font-weight: bold;
    font-size: 2.4375rem;

}

.things-to-Do-cards {
    width: 100%;
}

.things-to-Do-card {
    border-radius: 15px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.things-to-Do-card-image {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 25px;
}

.things-to-Do-card-title {
    margin-bottom: 20px;
    font-size: 1.4375rem;
    color: #282520;
}

.things-to-Do-card-price {
    margin-bottom: 20px;
    font-size: 1.25rem;
    color: #f98250;
}

.things-to-Do-card-description {
    text-align: center;
}

@media (max-width: 766px) {
    .things-to-Do-card {
        margin-bottom: 50px;
    }
}

@media (min-width: 767px) {
    .things-to-Do-content {
        padding-left: 40px;
        padding-right: 40px;
    }

    .things-to-Do-cards {
        display: grid;
        grid-template-columns: 6;
        grid-template-rows: 6;

        grid-gap: 30px 30px;
    }

    .horse-riding-card {
        grid-area: 1 / 1 / 3 / 4;
    }

    .rock-climbing-card {
        grid-area: 1 / 4 / 3 / 7;
    }

    .biking-card {
        grid-area: 3 / 1 / 5 / 4;
    }

    .rafting-card {
        grid-area: 3 / 4 / 5 / 7;
    }

    .fishing-card {
        grid-area: 5 / 1 / 7 / 4;
    }

    .spas-and-wellness-card {
        grid-area: 5 / 4 / 7 / 7;
    }

}

@media (min-width: 992px) {
    .horse-riding-card {
        grid-area: 1 / 1 / 4 / 3;
    }

    .rock-climbing-card {
        grid-area: 1 / 3 / 4 / 5;
    }

    .biking-card {
        grid-area: 1 / 5 / 4 / 7;
    }

    .rafting-card {
        grid-area: 4 / 1 / 7 / 3;
    }

    .fishing-card {
        grid-area: 4 / 3 / 7 / 5;
    }

    .spas-and-wellness-card {
        grid-area: 4 / 5 / 7 / 7;
    }
}

@media (min-width: 991px) {

    .things-to-Do-title {
        font-size: 2.75rem;
    }

    .things-to-Do-card-title {
        font-size: 1.5625rem;
    }
}

/* Get full answer for your question -----------------------------------------------------------------------------------------------*/

.get-full-answer-for-your-question-background {
    background-image: url(../images/backgrounds/get-full-answer-for-your-question.jpeg);
    background-size: cover;
    /* overflow-x: hidden; */
}

.get-full-answer-for-your-question-content {
    height: 100%;
    padding: 180px 0;
    transition: all 2s ease 1s;
    transform: translate(0px, 130px);
    opacity: 0;
}

.get-full-answer-for-your-question-content.active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.get-full-answer-for-your-question-title {
    font-size: 3.5rem;
    text-align: center;
    color: #ffffff;
}

.get-full-answer-for-your-question-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.button-call-us {
    height: 55px;
    width: 125px;
    border-radius: 27px;
    background-color: #f98250;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    transition-duration: 1s;
    text-transform: uppercase;
    text-decoration: none;
}

.button-call-us:hover {
    height: 55px;
    width: 125px;
    border-radius: 27px;
    background-color: #ffffff;
    color: #f98250;
    transition-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.button-reservation {
    height: 55px;
    width: 165px;
    border-radius: 27px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    transition-duration: 1s;
    border: #ffffff 1px solid;
    text-transform: uppercase;
    text-decoration: none;
}

.button-reservation:hover {
    height: 55px;
    width: 165px;
    border-radius: 27px;
    background-color: #ffffff;
    color: #282520;
    transition-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    transition-duration: 1s;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

@media (max-width:360px) {
    .get-full-answer-for-your-question-buttons {
        flex-direction: column;
        align-items: center;
    }

    .button-reservation {
        margin-top: 10px;
    }
}

@media (min-width:361px) {
    .button-reservation {
        margin-left: 10px;
    }
}

@media (max-width: 767px) {
    .get-full-answer-for-your-question-content {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 767px) {
    .get-full-answer-for-your-question-content {
        padding-left: 24px;
        padding-right: 24px;
    }
}

/* our-facilities -----------------------------------------------------------------------------------------------*/
.our-facilities-background {
    background-image: url(../images/backgrounds/light-background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.our-facilities-content {
    width: 100%;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

}

.our-facilities-title {
    font-size: 2.125rem;
    font-weight: bold;
    margin-bottom: 50px;
}

.our-facilities-image {
    width: 100%;
    overflow-y: hidden;
}

.image-wrap {
    overflow-y: hidden;
    display: flex;
    border-radius: 15px;
    width: 100%;
    background-image: url(../images/our-facilities/river-in-forest.jpg);
    background-size: cover;
    background-position: center;
}

@media (max-width: 766px) {
    .our-facilities-content {
        padding-left: 24px;
        padding-right: 24px;
    }

    .image-wrap {
        height: 40vh;
    }
}

@media (min-width: 767px) {
    .our-facilities-content {
        padding-left: 40px;
        padding-right: 40px;
    }

    .image-wrap {
        height: 60vh;
    }
}

@media (min-width: 991px) {

    .our-facilities-title {
        font-size: 2.75rem;
    }

    .image-wrap {
        height: 80vh;
    }
}

/* shop-s-cafe -----------------------------------------------------------------------------------------------*/

.shop-s-cafe-background {
    background-image: url(../images/backgrounds/green-background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    box-sizing: border-box;
}

.shop-s-cafe-content {
    width: 100%;
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.shop-s-cafe-title {
    font-size: 2.125rem;
    font-weight: bold;
    margin-bottom: 50px;
    color: #fff;
    text-align: center;
}

.shop-s-cafe-description {
    font-size: 1.1875rem;
    color: #d1d1d1;
    text-align: center;
    font-weight: 700;
    margin-bottom: 60px;
}

.shop-s-cafe-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px 30px;
    width: 100%;
    margin-bottom: 40px;
}

.shop-s-cafe-card {
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 15px;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.shop-s-cafe-card>img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 30px;
}

.shop-s-cafe-card>span {
    display: block;
}

.shop-s-cafe-card-title {
    font-size: 1.375rem;
    color: #fff;
    font-weight: bold;
}

.shop-s-cafe-card-description {
    font-size: 1.4375rem;
    text-align: center;
    margin-top: 30px;
    color: #bdbdbd;
}

@media (max-width: 766px) {
    .shop-s-cafe-content {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 767px) {
    .shop-s-cafe-content {
        padding-left: 40px;
        padding-right: 40px;
    }

    .shop-s-cafe-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 991px) {

    .shop-s-cafe-title {
        font-size: 2.75rem;
    }

    .shop-s-cafe-card-title {
        font-size: 1.5625rem;
    }
}

/* testimonials -----------------------------------------------------------------------------------------------*/
.testimonials-background {
    background-image: url(../images/backgrounds/light-background.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}

.testimonials-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 80px 0;
}

.testimonials-title {
    color: #282520;
    font-size: 2.125rem;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;

}

.testimonials-photos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.testimonials-photo {
    border-radius: 15px;
    width: 100%;
}

.all-testimonials-button {
    width: 175px;
    height: 46px;
    border: 1px solid #599673;
    border-radius: 30px;
    color: #282520;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 50px;
    font-weight: bold;
    transition-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.all-testimonials-button:hover {
    width: 175px;
    height: 46px;
    font-size: 1rem;
    color: #ffffff;
    background-color: #599673;
    border-radius: 30px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 50px;
    font-weight: bold;
    transition-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

@media (max-width: 766px) {
    .testimonials-content {
        padding-left: 24px;
        padding-right: 24px;
    }

    .testimonials-photo {
        margin-top: 30px;
    }
}

@media (min-width: 767px) {
    .testimonials-content {
        padding-left: 40px;
        padding-right: 40px;
    }

    .testimonials-photos {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
    }

    .testimonials-photos-left-column,
    .testimonials-photos-center-column,
    .testimonials-photos-right-column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc((100%-100px)/3);
    }

    .testimonials-photos-center-column {
        margin: 0 50px;
    }

    .testimonials-photo {
        border-radius: 15px;
        width: 100%;
        justify-self: center;
    }
}

@media (min-width: 991px) {

    .testimonials-title {
        font-size: 2.75rem;
    }
}

/* make-to-reservation -----------------------------------------------------------------------------------------------*/

.make-to-reservation-background {
    background-image: url(../images/backgrounds/make-to-reservation.JPG);
    background-size: cover;
    background-position: center;
    width: 100vw;
    padding: 120px 0;
}

.make-to-reservation-content {
    max-width: 570px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 60px;
    box-sizing: border-box;
}

.make-to-reservation-title {
    text-transform: uppercase;
    font-weight: bold;
    color: #282520;
    font-size: 1.8rem;
    text-align: center;
}

.make-to-reservation-description {
    font-size: 1.1875rem;
    color: #848484;
    text-align: center;
    margin-top: 50px;
}

.make-to-reservation-form {
    width: 100%;
}

.make-to-reservation-form p {
    margin-top: 30px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: #2825201f;
    border-radius: 25px;
}

.make-to-reservation-form-item-select-guests{
    max-width: 100%;
}
.make-to-reservation-form-item-p-select-guests {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.make-to-reservation-form-guest-list-down {
    position: absolute;
    right: 20px;
    color: grey;
}

.make-to-reservation-form p input:focus,
.make-to-reservation-form p select:focus {
    outline: 1px solid #f98250;
    border-radius: 25px;
}

.make-to-reservation-form p input,
.make-to-reservation-form p select {
    width: 100%;
    height: 100%;
    background: transparent;
    color: grey;
    border: none;
    padding-left: 30px;
}


.make-to-reservation-form p select {
    appearance: none;
}

.make-a-reservation-form-button {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #f98250;
    margin-top: 40px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    transition-duration: 1s;
    border: none;
}

.make-a-reservation-form-button:hover {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background-color: #599673;
    margin-top: 40px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    transition-duration: 1s;
}

@media (min-width: 991px) {

    .make-to-reservation-title {
        font-size: 2.3rem;
    }
}

@media (max-width: 766px) {
    .make-to-reservation-content {
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media (min-width: 767px) {
    .make-to-reservation-content {
        padding-left: 40px;
        padding-right: 40px;
    }
}