* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 16px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.allerta-font {
    font-family: 'Allerta', sans-serif;
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}

.font-color-282520 {
    color: #282520;
}

a {
    text-decoration: none;
}

.burger-link-font {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #282520;
    font-weight: 700;
}

.places-font {
    font-size: 1rem;
    color: #282520;
}

.numbers-font {
    font-size: 1rem;
    color: #f98250;
}

.lock-display {
    display: none;
}

#clock {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 30px;
}

@media (max-width: 980px) {
    .lock-display-980 {
        display: none;
    }
}

/* font-family: 'Allerta', sans-serif;
font-family: 'Roboto', sans-serif; 

orange       #f98250
white        #ffffff
green        #599673
dark         #282520
grey(form)   #848484
background-color: rgba(40, 37, 32, 0.12);
*/